scipy==0.16.1
numpy==1.10.1
Bottleneck==1.0.0
click==6.2
cycler==0.9.0
inflection==0.3.1
matplotlib==1.5.0
memory-profiler==0.39
more-itertools==2.2
numexpr==2.4.6
pandas==0.17.1
plumbum==1.6.0
psutil==3.3.0
PyMySQL==0.6.7
pypandoc==1.1.2
pyparsing==2.0.6
python-dateutil==2.4.2
pytz==2015.7
pyxdg==0.25
requests==2.8.1
scikit-learn==0.17
six==1.10.0
SQLAlchemy==1.0.9
wheel==0.26.0
git+git://github.com/spulec/freezegun.git@a20f222daa940448f1353f0c642dbd715abe0ce0
